{% extends "basetemplate.html" %} 
{% from "_formHelpers.html" import render_field %}
{% block title %} 
View Person {{ person.namn}}
{% endblock %} 




{% block content %}


<div class="card">
    <div class="card-header">
        <h1>Cars for {{ person.namn }}</h1>
        Sök: <form method="get">
                <input type=text placeholder="search" value="{{ q }}" name="q">
                <input class="btn" type=submit value="Sök">
            </form>
    </div>
    <div class="card-body">
        <table class="table" id="posts-table">
            <tr>
                <th>Type
                </th>
                <th>Cardno
                </th>
                <th>Date created
                </th>
            </tr>
            <tbody>
            {% for card in cards %}      
                <tr>
                    <td>{{ card.cardtype }}</td>
                    <td>{{ card.number }}</td>
                    <td>{{ card.Datum }}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
        


            <a class="btn" href="javascript:fetchMore()">5 more</a>

    </div>
</div>

<script>
    pageNo = 1;
    function fetchMore() {
        fetch("/api/{{ person.id }}/cards/?page=" + pageNo)
            .then((response) => response.json())
            .then((json) => {
                    pageNo = pageNo + 1;
                    json.forEach(tableElements);
                }
            );
    }

    function tableElements(element) {
            document.querySelector('#posts-table tbody').innerHTML +=
                `<tr>
        <td>${element.cardtype}</td>
        <td>${element.number}</td>
        <td>${element.datum}</td>
    </tr>`;
        }
        document.addEventListener("DOMContentLoaded", function () {
            fetchMore();
        });


</script>    

{% endblock %}
