{% extends "basetemplate.html" %} 
{% from "_formHelpers.html" import render_field %}
{% block title %} 
New Person 
{% endblock %} 




{% block content %}


<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                <form method="post" class="">
                    {{ form.csrf_token }}
                    <div class="card">
                    <div class="card-header">
                        <strong>New</strong> Person
                    </div>
                    <div class="card-body card-block">
                            {{ render_field(form.name) }}
                            {{ render_field(form.postalcode) }}
                            {{ render_field(form.city) }} 
                            {{ render_field(form.position) }} 
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-dot-circle-o"></i> Save new!
                        </button>
                    </div>
                </div>  
            </form> 
                  
            </div>
        </div>        
    </div>
</div>


{% endblock %}
